@font-face { 
font-family: 'Roboto'; 
src: url('../fonts/roboto-bold_1-webfont.woff') format('woff'); 
font-weight: 300; 
font-style: normal; 
} 
@font-face { 
font-family: 'Roboto'; 
src: url('../fonts/roboto-light_1-webfont.woff') format('woff'); 
font-weight: 300; 
font-style: normal; 
} 
@font-face { 
font-family: 'Roboto'; 
src: url('../fonts/roboto-lightitalic_1-webfont.woff') format('woff'); 
font-weight: 300; 
font-style: italic; 
} 

ul { 
margin: 0; 
padding: 0; 
} 

ul li { 
list-style: none; 
} 

h1, h2, h3, h4, h5, h6 { 
margin: 0; 
} 
body { 
font-family: 'Roboto'; 
} 
.wrapper{ 
position:relative; 
min-width:100%; 
height:auto!important; 
overflow:hidden; 
height: 100%; 
margin-bottom: 80px; 
} 
#header { 
position: relative; 
min-width: 100%; 
height: 76px; 
background-color:#1C5BC3; 
} 
.header__dropdown{
 
}
.header_left { 
display: inline-block; 
width: 50%; 
padding-left: 20px; 
padding-top: 20px; 
} 
.logo_img { 
position: relative; 
display: inline-block; 
} 

.header_right { 
display: inline-block; 
float: right; 
padding-top: 20px; 
padding-right: 20px; 
} 


.phone_number { 
text-decoration: none; 
text-align: right; 
color: #FFFFFF; 
font-size: 21px; 
font-weight: 800; 
text-transform: uppercase; 
margin-bottom: 5px; 
} 
.header_right-grafik { 
float: right; 
text-decoration: underline; 
color: #FFFFFF; 
} 
.sidebar { 
display: inline-block; 
float:left; 
height:1100px; 
width: 15%; 
} 
.container { 
width: 1100px; 
margin-left: auto; 
margin-right: auto; 
} 
.list-left__menu{ 
list-style:none; 
padding-top: 30px; 
float: center; 
padding-left: 20px; 
font-family: 'Roboto'; 
font-size: 12px; 
letter-spacing: 3px; 
font-weight: 600; 
} 

.text { 
padding-left: 10px; 
font-family: 'Tahoma'; 
text-decoration: none; 
} 
.item-icon__img { 
height: 14px; 
width: 14px; 
} 

.Grafik_menu { 
padding: 0px; 
margin-bottom: 17px; 
} 
.Grafik_menu:last-child { 
margin-bottom: 0; 
} 
.navigation_link { 
font-height: 10px; 
float: center; 
} 


.crew_description { 
padding-bottom: 19px; 
} 
.content { 
display: inline-block; 
float: right; 
width: 83%; 
} 
#footer { 
position: absolute; 
width: 100%; 
height: 80px; 
background-color:#1C5BC3; 
} 

.footer__desc { 
width: 40%; 
float: left; 
padding-top: 20px; 
padding-left: 20px; 
} 
.footer__logo { 
width: 20%; 
float: left; 
text-align: center; 
padding-top: 20px; 
} 

.description { 
color: #ffffff; 
font-size: 14px; 
line-height: 1.3; 
font-weight: 300; 
} 

.description__name, .description__loft { 
font-weight: 700; 
color: #ffffff; 
} 
.footer_social { 
width: 20%; 
float: right; 
text-align: right; 
padding-top: 20px; 
display: inline-block; 
padding-right: 40px; 
} 


.social__title { 
color: #fff; 
font-size: 14px; 
font-weight: 700; 
margin: 0; 
padding: 0; 
margin-bottom: 7px; 
} 

.social-icons__items1 { 
font-size: 0; 
text-align: right; 
} 
.social-icons__item { 
display: inline-block; 
width: 20px; 
height: 20px; 
margin-left: 11px; 
} 
.social__item:first-child { 
margin-left: 0; 
} 
.social-images { 
display: block; 
width: 100%; 
height: 100%; 
background-repeat: no-repeat; 
text-indent: 100%; 
white-space: nowrap; 
overflow: hidden; 
transition: all .5s; 
} 

.pagination { 
margin-top: 40px; 
} 
.link__pagination{
  color:#6385D0;
}

.pagination__item { 
display: inline-block; 
font-size: 14px; 
font-style: italic; 
} 


.pagination__item:after { 
content: "/"; 
display: inline-block; 
vertical-align: middle; 
} 

.pagination__item:last-child:after { 
content: ""; 
display: inline-block; 
vertical-align: middle; 
}
.container__button { 
display: inline-block; 
min-width: 207px; 
overflow: hidden; 
text-overflow: ellipsis; 
white-space: ; 
height: 15px; 
border: 1px solid #1C5BC3; 
border-radius: 4px; 
line-height: 1.42; 
color: #1C5BC3; 
font-family: "Tahoma"; 
font-weight: 700; 
text-transform: uppercase; 
text-decoration: none; 
text-align: center; 
transition: all 0.5s; 
float: center; 
}
.container__button:hover .button__block-link{
 color: #fff; 
}
.container__button:hover{ 
background-color: #1C5BC3; 
} 
.container__button:hover .item__icon-button{
  background-image:url(../img/arrow2.png)
}

.button__block-link{ 
color: #1C5BC3; 
text-decoration: none; 
} 
.text__button { 
float: left; 
padding-left: 20px; 
padding-bottom: 18px; 
padding-top: 16px; 
width: 175px; 
letter-spacing: 3px; 
font-size: 12px; 
} 
.item__icon-button{ 
display: inline-block; 
float: right; 
width: 14px; 
height: 14px;
 background-image:url(../img/arrow1.png)
}
a{
 text-decoration:none;
}
.dropdown{
  border:1px solid #fff;
  border-radius:3px;
  height:60px;
  position:absolute;
  width:200px;
  float:right;
  margin-right:20px;
  text-align:center;
top:-9999em;
opacity:0;
transition:0.5s opacity;
box-shadow:0px 0px 5px 6px #CBD2E0;
}
.grafik__list {
  position:relative;
}
.grafik__list:hover .dropdown{
  opacity:1;
  top:0;
  margin-top:40px;
  margin-left:-100px;
}
.triangle{
  bottom:100%;
  position:absolute;
  border-top:15px solid transparent;
  border-right:15px solid transparent;
  border-bottom:15px solid #fff;
  border-left:15px solid transparent;
  left:85%;
  width:0px;
  height:0px;
  top:-30px;
}
.dinner{
 color:#1C5BC3;
}
.dinner2{
color:#221F1F;
}
.Block{
  background-color:#F5F5F5;
  width:80%;
  height:400px;
}
.Give__feedback{
  padding-left:240px;
}
.Block__name{
 padding-left:35px;
 float:left;
}
.Your__name{

}
.Input_name{
  width:300px;
  height:50px;
  border: 1px solid black; 
}
.Block__link{
float:right;
padding-top:-150px;
padding-right:35px;
}
.Your__link{

}
.Input__link{
  width:300px;
  height:50px;
  border: 1px solid black; 
}
.Block__review{
  float:center;
  padding-top:100px;
  padding-left:35px;
}
.Your__review{

}
.Input__text{
  border: 1px solid #1C5BC3; 
  height:90px;
  width:650px;
}
.interview__radio{
float:left;
padding-top:35px;
padding-left:35px;
}
.interview__yes{
display:inline-block;
}
.interview__no{
  display:inline-block;
}
.interview__text{

}
.button{
  float:right;
  padding-top:35px;
  padding-right:35px;
}
.page__list{
float:center;
padding-left:200px;
height:50px;
border:1px;
}
.page__text{
 color:#969595;
 float:left;
}
.back{
 display:inline-block;
 color:#BEBDBD;
}
.nomber{
display:inline-block;
height:18px;
width:14px;
padding-left:5px;
border:1px;
border-radius:3px;
}
.nomber:hover{
  border:1px solid #1C5BC3;
  color:#1C5BC3;
  height:18px;
width:14px;
padding-left:5px;
border-radius:3px;
background-color:#1C5BC3;
}
.nomber1:hover{
  color:#FFFFFF;
}
.next{
display:inline-block;
}