html, body{
   height: 100%
}
html{
    position:relative;
}
.wrapper {
  min-width: 1062px;
  min-height: 100%;
  overflow: hidden;
}
.wrapper:after {
  content: "";
  display: block;
  height: 77px;
}

.header {
  background-color: #1c5bc3;
  color: #ffffff;
  height: 76px;
}
.logo {
  margin: 20px 20px 20px 20px;
}
.header__col{
    display: inline-block;
    width: 49.5%;
  /*border: 1px solid red;*/
}
.img-icon{ 
    position: relative;
    display: inline-block;
}
.header_right {
 display: inline-block;
 float: right;
 padding-top: 20px;
 padding-right: 20px;
}
.contacts__phone { 
    display: inline-block; 
}
.list a {
  background:3d3d3d;
  color:#fff;
  display:block;
  transition:0.5s;
}
.list a:hover{
  background:#666;
  padding:0px 0 0px 0px;
}
.menu__list{
  position:relative;
}
.menu__drop{
  position:absolute;
  width:100%;
  bottom:100%;
  opacity:0;
  top:-9999em;
  transition:0.5s opacity;
}
.menu__list:hover .menu__drop{
  opacity:1;
  top:0;
}
.sidebar{
  float: left;
  width: 190px;
  /*border: 2px solid blue;*/
}
.left-menu{
  padding-top: 25px;
  padding-left: 40px;
  /*border: 2px solid yellow;*/
}
.text-menu{
  display: inline-block;
}
.breadcrumbs {
  margin-top: 30px;
  margin-bottom: 28px;
}
.breadcrumbs__item {
  display: inline-block;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #221f1f;
  line-height: 1.42em;
}
.contacts { 
    float:right;
    width: 50%; 
    padding: 25px 0 18px; 
    text-align: right;
} 
.number__phone { 
    font-size: 21px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    font-style: normal;
}

.menu{
    float:left;
}
.breadcrumbs{
    float:left; 
}
.h1{
    float:left;
}
.content {
    width: 1000px; 
    margin:auto;
    padding-bottom: 90px;    
}
.info{
    display:inline-block;
    vertical-align:top;
    text-align:center;

}
ul { 
    margin: 0; 
    padding: 0; 
    list-style: none;
} 
.company{
    display: inline-block;
    overflow:hidden
}
.container {
    width: 1062px;
    margin: 0 auto;
  /*border: 2px solid black;*/
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.footer {
    background-color: #1c5bc3;
    color: #ffffff;
    margin-top: -77px;
    min-width: 1060px;
}
.footer__col {
    display: inline-block;
    width: 32.8%;
  /*border: 1px solid black;*/
}
.footer-center{
    padding:-50px -100px 0 0 ;
}
.footer__text {
    width: 235px;
    font-size: 14px;
    font-weight: 300;
    margin: 14px 0 13px 19px;
}
.footer__text-ls .footer__text-author{
     font-weight: 700;
}
.footer__text-ls {
    text-decoration: underline;
}
.footer-center {
    display: inline-block;
    text-align: center;
}
.social{
    text-align: right;
    font-size: 14px;
    font-weight: 700;
    margin-top: 20px;
}
.socials__title {
    margin-bottom: 9px;
    padding-right: 5px;
}
.social-icons__img{
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    background-color: #d3dff3;
    border-radius: 50%;
    margin-right: 10px;
}
.socials__item:hover {
  background-color: #ffffff;
}